.container {
  height: 100vh;
  width: 100vh;
  margin-left: 50% ;
  text-align: center;
  font-family: Arial, sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.output {
  margin-top: 20px;
  background-color: #454545;
  padding: 10px;
}
