
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
}

.light {
  width:100vw;
  background-color: #ffffff;
  color: #000000;
}

.dark {
  width:100vw;
  background-color: #121212;
  color: #ffffff;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
